function Equation.new 0
push constant 16
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 5
push constant 0
pop this 6
push constant 0
pop this 7
push constant 0
pop this 8
push argument 0
pop this 4
push argument 1
pop this 9
push constant 0
push constant 0
call Point.new 2
pop this 14
push constant 0
push constant 0
call Point.new 2
pop this 15
push pointer 0
return
function Equation.getX 0
push argument 0
pop pointer 0
push this 10
return
function Equation.getY 0
push argument 0
pop pointer 0
push this 11
return
function Equation.getSlope 0
push argument 0
pop pointer 0
push this 13
return
function Equation.getHighestPoint 0
push argument 0
pop pointer 0
push this 15
return
function Equation.getLowestPoint 0
push argument 0
pop pointer 0
push this 14
return
function Equation.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 10
push constant 0
not
pop this 5
push constant 0
return
function Equation.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 11
push constant 0
not
pop this 6
push constant 0
return
function Equation.setB 0
push argument 0
pop pointer 0
push argument 1
pop this 12
push constant 0
not
pop this 7
push constant 0
return
function Equation.setSlope 0
push argument 0
pop pointer 0
push argument 1
pop this 13
push constant 0
not
pop this 8
push constant 0
return
function Equation.setHighestPoint 0
push argument 0
pop pointer 0
push argument 1
pop this 15
push constant 0
return
function Equation.setLowestPoint 0
push argument 0
pop pointer 0
push argument 1
pop this 14
push constant 0
return
function Equation.solveForY 3
push argument 0
pop pointer 0
push this 9
push constant 1
call String.new 1
push constant 73
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 13
push argument 1
call Fraction.times 2
pop local 0
push local 0
push this 12
call Fraction.plus 2
pop local 1
push local 1
return
label IF_FALSE0
push this 9
push constant 1
call String.new 1
push constant 80
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 10
push argument 1
call Fraction.minus 2
pop local 0
push this 13
push local 0
call Fraction.times 2
pop local 1
push this 11
push local 1
call Fraction.minus 2
pop local 2
push local 2
return
label IF_FALSE1
push this 9
push constant 1
call String.new 1
push constant 79
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 10
push argument 1
call Fraction.times 2
pop local 0
push this 12
push local 0
call Fraction.minus 2
pop local 1
push local 1
push this 11
call Fraction.dividedBy 2
pop local 2
push local 2
return
label IF_FALSE2
push constant 0
push constant 1
call Fraction.new 2
return
function Equation.solveForX 3
push argument 0
pop pointer 0
push this 9
push constant 1
call String.new 1
push constant 73
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push this 12
call Fraction.minus 2
pop local 0
push local 0
push this 13
call Fraction.dividedBy 2
pop local 1
push local 1
return
label IF_FALSE0
push this 9
push constant 1
call String.new 1
push constant 80
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 11
push argument 1
call Fraction.minus 2
pop local 0
push local 0
push this 13
call Fraction.dividedBy 2
pop local 1
push this 10
push local 1
call Fraction.minus 2
pop local 2
push local 2
return
label IF_FALSE1
push this 9
push constant 1
call String.new 1
push constant 79
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 11
push argument 1
call Fraction.times 2
pop local 0
push this 12
push local 0
call Fraction.minus 2
pop local 1
push local 1
push this 10
call Fraction.dividedBy 2
pop local 2
push local 2
return
label IF_FALSE2
push constant 0
push constant 1
call Fraction.new 2
return
function Equation.getValues 0
push argument 0
pop pointer 0
push this 9
push constant 1
call String.new 1
push constant 80
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push constant 1
call String.new 1
push constant 121
call String.appendChar 2
call Equation.inputVar 2
pop temp 0
push pointer 0
push constant 1
call String.new 1
push constant 109
call String.appendChar 2
call Equation.inputVar 2
pop temp 0
push pointer 0
push constant 1
call String.new 1
push constant 120
call String.appendChar 2
call Equation.inputVar 2
pop temp 0
push constant 0
return
label IF_FALSE0
push this 9
push constant 1
call String.new 1
push constant 73
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push constant 1
call String.new 1
push constant 109
call String.appendChar 2
call Equation.inputVar 2
pop temp 0
push pointer 0
push constant 1
call String.new 1
push constant 98
call String.appendChar 2
call Equation.inputVar 2
pop temp 0
push constant 0
return
label IF_FALSE1
push this 9
push constant 1
call String.new 1
push constant 79
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push constant 1
call String.new 1
push constant 120
call String.appendChar 2
call Equation.inputVar 2
pop temp 0
push pointer 0
push constant 1
call String.new 1
push constant 121
call String.appendChar 2
call Equation.inputVar 2
pop temp 0
push pointer 0
push constant 1
call String.new 1
push constant 98
call String.appendChar 2
call Equation.inputVar 2
pop temp 0
push constant 0
return
label IF_FALSE2
push constant 0
return
function Equation.inputVar 5
push argument 0
pop pointer 0
push constant 0
pop local 4
push argument 1
push constant 1
call String.new 1
push constant 120
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 11
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readLine 1
pop local 0
label WHILE_EXP0
push local 4
not
if-goto WHILE_END0
push local 0
call Fraction.toFraction 1
pop this 10
push this 10
call Fraction.checkValid 1
pop local 4
push constant 14
call String.new 1
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 63
call String.appendChar 2
call Out.ln 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
pop this 5
goto IF_END0
label IF_FALSE0
push argument 1
push constant 1
call String.new 1
push constant 121
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 10
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readLine 1
pop local 1
push local 1
call Fraction.toFraction 1
pop this 11
push constant 0
not
pop this 6
goto IF_END1
label IF_FALSE1
push argument 1
push constant 1
call String.new 1
push constant 98
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 19
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readLine 1
pop local 2
push local 2
call Fraction.toFraction 1
pop this 12
push constant 0
not
pop this 7
goto IF_END2
label IF_FALSE2
push argument 1
push constant 1
call String.new 1
push constant 109
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 14
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readLine 1
pop local 3
push local 3
call Fraction.toFraction 1
pop this 13
push constant 0
not
pop this 8
label IF_FALSE3
label IF_END2
label IF_END1
label IF_END0
push constant 0
return
function Equation.toString 0
push argument 0
pop pointer 0
push this 4
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 9
push constant 1
call String.new 1
push constant 79
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Equation.getOldString 1
return
label IF_FALSE1
push this 9
push constant 1
call String.new 1
push constant 73
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Equation.getSlopeInterceptString 1
return
label IF_FALSE2
push this 9
push constant 1
call String.new 1
push constant 80
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Equation.getPointSlopeString 1
return
label IF_FALSE3
label IF_FALSE0
push constant 1
call String.new 1
push constant 120
call String.appendChar 2
return
function Equation.getSlopeInterceptString 3
push argument 0
pop pointer 0
push this 8
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 13
call Fraction.toString 1
pop local 0
goto IF_END0
label IF_FALSE0
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
pop local 0
label IF_END0
push this 7
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 12
call Fraction.toString 1
pop local 1
goto IF_END1
label IF_FALSE1
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
pop local 1
label IF_END1
push constant 4
call String.new 1
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
push local 0
push constant 4
call String.new 1
push constant 120
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 32
call String.appendChar 2
push local 1
call S.append4 4
pop local 2
push local 2
return
function Equation.getPointSlopeString 4
push argument 0
pop pointer 0
push this 6
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 11
call Fraction.toString 1
pop local 1
goto IF_END0
label IF_FALSE0
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
pop local 1
label IF_END0
push this 8
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 13
call Fraction.toString 1
pop local 2
goto IF_END1
label IF_FALSE1
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
pop local 2
label IF_END1
push this 5
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 10
call Fraction.toString 1
pop local 0
goto IF_END2
label IF_FALSE2
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
pop local 0
label IF_END2
push constant 5
call String.new 1
push constant 40
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 32
call String.appendChar 2
push local 1
push constant 4
call String.new 1
push constant 41
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
push local 2
push constant 5
call String.new 1
push constant 40
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 32
call String.appendChar 2
push local 0
push constant 1
call String.new 1
push constant 41
call String.appendChar 2
call S.append7 7
pop local 3
push local 3
return
function Equation.getOldString 5
push argument 0
pop pointer 0
push this 5
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 10
call Fraction.toString 1
pop local 0
goto IF_END0
label IF_FALSE0
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
pop local 0
label IF_END0
push this 6
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 11
call Fraction.toString 1
pop local 1
goto IF_END1
label IF_FALSE1
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
pop local 1
label IF_END1
push this 7
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 12
call Fraction.toString 1
pop local 2
goto IF_END2
label IF_FALSE2
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
pop local 2
label IF_END2
push local 0
push constant 4
call String.new 1
push constant 120
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 32
call String.appendChar 2
push local 1
push constant 4
call String.new 1
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
push local 2
call S.append5 5
pop local 3
push local 3
return
function Equation.getYIntercept 2
push argument 0
pop pointer 0
push constant 0
push constant 1
call Fraction.new 2
pop local 1
push pointer 0
push local 1
call Equation.solveForY 2
pop local 0
push local 0
return
function Equation.getXIntercept 2
push argument 0
pop pointer 0
push constant 0
push constant 1
call Fraction.new 2
pop local 1
push pointer 0
push local 1
call Equation.solveForX 2
pop local 0
push local 0
return
