function Equation.new 0
push constant 10
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 5
push constant 0
pop this 6
push constant 0
pop this 7
push constant 0
pop this 8
push argument 0
pop this 4
push argument 1
pop this 9
push pointer 0
return
function Equation.solveForY 5
push argument 0
pop pointer 0
push argument 1
pop local 4
push constant 1
push constant 1
call Fraction.new 2
pop local 1
push local 4
call Fraction.toFraction 1
pop local 0
push this 9
push constant 1
call String.new 1
push constant 73
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push local 0
call Fraction.times 2
pop local 2
push local 2
push this 3
call Fraction.plus 2
pop local 1
push local 1
return
label IF_FALSE0
push this 9
push constant 1
call String.new 1
push constant 80
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push local 0
call Fraction.minus 2
pop local 2
push this 2
push local 2
call Fraction.times 2
pop local 3
push this 1
push local 3
call Fraction.minus 2
pop local 1
push local 1
return
label IF_FALSE1
push this 9
push constant 1
call String.new 1
push constant 79
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push local 0
call Fraction.times 2
pop local 2
push this 3
push local 2
call Fraction.minus 2
pop local 3
push local 3
push this 1
call Fraction.dividedBy 2
pop local 1
push local 1
return
label IF_FALSE2
push local 0
return
function Equation.solveForX 5
push argument 0
pop pointer 0
push argument 1
pop local 4
push constant 1
push constant 1
call Fraction.new 2
pop local 1
push local 4
call Fraction.toFraction 1
pop local 0
push this 9
push constant 1
call String.new 1
push constant 73
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push this 3
call Fraction.minus 2
pop local 2
push local 2
push this 2
call Fraction.dividedBy 2
pop local 1
label IF_FALSE0
push this 9
push constant 1
call String.new 1
push constant 80
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push local 0
call Fraction.minus 2
pop local 2
push this 0
push local 2
call Fraction.minus 2
pop local 3
push local 3
push this 2
call Fraction.dividedBy 2
pop local 1
label IF_FALSE1
push this 9
push constant 1
call String.new 1
push constant 79
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
push local 0
call Fraction.times 2
pop local 2
push this 3
push local 2
call Fraction.minus 2
pop local 3
push local 3
push this 0
call Fraction.dividedBy 2
pop local 1
label IF_FALSE2
push local 2
call Fraction.dispose 1
pop temp 0
push local 3
call Fraction.dispose 1
pop temp 0
push local 1
return
function Equation.getValues 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push this 9
push constant 1
call String.new 1
push constant 80
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push constant 1
call String.new 1
push constant 121
call String.appendChar 2
call Equation.inputVar 2
pop temp 0
push pointer 0
push constant 1
call String.new 1
push constant 109
call String.appendChar 2
call Equation.inputVar 2
pop temp 0
push pointer 0
push constant 1
call String.new 1
push constant 120
call String.appendChar 2
call Equation.inputVar 2
pop temp 0
push constant 0
return
label IF_FALSE0
push this 9
push constant 1
call String.new 1
push constant 73
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push constant 1
call String.new 1
push constant 109
call String.appendChar 2
call Equation.inputVar 2
pop temp 0
push pointer 0
push constant 1
call String.new 1
push constant 98
call String.appendChar 2
call Equation.inputVar 2
pop temp 0
push constant 0
return
label IF_FALSE1
push this 9
push constant 1
call String.new 1
push constant 79
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push constant 1
call String.new 1
push constant 120
call String.appendChar 2
call Equation.inputVar 2
pop temp 0
push pointer 0
push constant 1
call String.new 1
push constant 121
call String.appendChar 2
call Equation.inputVar 2
pop temp 0
push pointer 0
push constant 1
call String.new 1
push constant 98
call String.appendChar 2
call Equation.inputVar 2
pop temp 0
push constant 0
return
label IF_FALSE2
push constant 0
return
function Equation.inputVar 4
push argument 0
pop pointer 0
push pointer 0
call Equation.toString 1
call Out.ln 1
pop temp 0
push argument 1
push constant 1
call String.new 1
push constant 120
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 11
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readLine 1
pop local 0
push local 0
call Fraction.toFraction 1
pop this 0
push local 0
call String.dispose 1
pop temp 0
push constant 0
not
pop this 5
label IF_FALSE0
push argument 1
push constant 1
call String.new 1
push constant 121
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 10
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readLine 1
pop local 1
push local 1
call Out.ln 1
pop temp 0
push local 1
call Fraction.toFraction 1
pop this 1
push local 1
call String.dispose 1
pop temp 0
push constant 0
not
pop this 6
label IF_FALSE1
push argument 1
push constant 1
call String.new 1
push constant 98
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 19
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readLine 1
pop local 2
push local 2
call Fraction.toFraction 1
pop this 3
push local 2
call String.dispose 1
pop temp 0
push constant 0
not
pop this 7
label IF_FALSE2
push argument 1
push constant 1
call String.new 1
push constant 109
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 14
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
call Keyboard.readLine 1
pop local 3
push local 3
call Fraction.toFraction 1
pop this 2
push local 3
call String.dispose 1
pop temp 0
push constant 0
not
pop this 8
label IF_FALSE3
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 0
return
function Equation.toString 0
push argument 0
pop pointer 0
push this 4
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 9
push constant 1
call String.new 1
push constant 79
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Equation.oldString 1
return
label IF_FALSE1
push this 9
push constant 1
call String.new 1
push constant 73
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Equation.slopeInterceptString 1
return
label IF_FALSE2
push this 9
push constant 1
call String.new 1
push constant 80
call String.appendChar 2
call S.equals 2
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Equation.pointSlopeString 1
return
label IF_FALSE3
label IF_FALSE0
push constant 1
call String.new 1
push constant 120
call String.appendChar 2
return
function Equation.slopeInterceptString 3
push argument 0
pop pointer 0
push this 8
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
call Fraction.toString 1
pop local 0
goto IF_END0
label IF_FALSE0
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
pop local 0
label IF_END0
push this 7
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 3
call Fraction.toString 1
pop local 1
goto IF_END1
label IF_FALSE1
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
pop local 1
label IF_END1
push constant 4
call String.new 1
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
push local 0
push constant 4
call String.new 1
push constant 120
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 32
call String.appendChar 2
push local 1
call S.append4 4
pop local 2
push local 0
call String.dispose 1
pop temp 0
push local 1
call String.dispose 1
pop temp 0
push local 2
return
function Equation.pointSlopeString 4
push argument 0
pop pointer 0
push constant 21
call String.new 1
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 41
call String.appendChar 2
call Out.ln 1
pop temp 0
push this 6
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 23
call String.new 1
push constant 70
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
call Out.s 1
pop temp 0
push this 1
call Fraction.toString 1
pop local 1
push local 1
call Out.ln 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
pop local 1
label IF_END0
push this 8
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
call Fraction.toString 1
pop local 2
goto IF_END1
label IF_FALSE1
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
pop local 2
label IF_END1
push this 5
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Fraction.toString 1
pop local 0
goto IF_END2
label IF_FALSE2
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
pop local 0
label IF_END2
push constant 5
call String.new 1
push constant 40
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 32
call String.appendChar 2
push local 1
push constant 4
call String.new 1
push constant 41
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
push local 2
push constant 5
call String.new 1
push constant 40
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 32
call String.appendChar 2
push local 0
push constant 1
call String.new 1
push constant 41
call String.appendChar 2
call S.append7 7
pop local 3
push local 0
call String.dispose 1
pop temp 0
push local 1
call String.dispose 1
pop temp 0
push local 2
call String.dispose 1
pop temp 0
push local 3
return
function Equation.oldString 4
push argument 0
pop pointer 0
push this 5
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Fraction.toString 1
pop local 0
goto IF_END0
label IF_FALSE0
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
pop local 0
label IF_END0
push this 6
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
call Fraction.toString 1
pop local 1
goto IF_END1
label IF_FALSE1
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
pop local 1
label IF_END1
push this 7
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
call Fraction.toString 1
pop local 2
goto IF_END2
label IF_FALSE2
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
pop local 2
label IF_END2
push local 0
push constant 4
call String.new 1
push constant 120
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 32
call String.appendChar 2
push local 1
push constant 4
call String.new 1
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
push local 2
call S.append5 5
pop local 3
push local 0
call String.dispose 1
pop temp 0
push local 1
call String.dispose 1
pop temp 0
push local 2
call String.dispose 1
pop temp 0
push local 3
return
