function Graph.new 0
push constant 0
call Memory.alloc 1
pop pointer 0
push pointer 0
return
function Graph.drawGraph 0
push constant 0
return
function Graph.drawAxes 0
push constant 255
push constant 0
push constant 255
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 127
push constant 511
push constant 127
call Screen.drawLine 4
pop temp 0
push constant 4
push constant 124
push constant 0
push constant 127
call Screen.drawLine 4
pop temp 0
push constant 4
push constant 130
push constant 0
push constant 127
call Screen.drawLine 4
pop temp 0
push constant 507
push constant 124
push constant 511
push constant 127
call Screen.drawLine 4
pop temp 0
push constant 507
push constant 130
push constant 511
push constant 127
call Screen.drawLine 4
pop temp 0
push constant 252
push constant 4
push constant 255
push constant 0
call Screen.drawLine 4
pop temp 0
push constant 258
push constant 4
push constant 255
push constant 0
call Screen.drawLine 4
pop temp 0
push constant 252
push constant 251
push constant 255
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 258
push constant 251
push constant 255
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Graph.drawPoint 1
push argument 0
push argument 1
call Point.new 2
pop local 0
push local 0
call Point.toCoord 1
pop local 0
push local 0
call Point.drawPixel 1
pop temp 0
push constant 0
return
function Graph.drawLine 8
push argument 0
call Equation.getSlope 1
pop local 0
push local 0
call Fraction.getDenominator 1
pop local 1
push local 0
call Fraction.getNumerator 1
pop local 2
push argument 0
call Equation.getLowestPoint 1
pop local 3
push argument 0
call Equation.getHighestPoint 1
pop local 4
push local 3
call Point.x 1
pop local 6
push local 3
call Point.y 1
pop local 7
label WHILE_EXP0
push local 6
push local 4
call Point.x 1
lt
not
if-goto WHILE_END0
push local 6
push local 7
call Graph.drawPoint 2
pop temp 0
push local 6
push local 1
add
pop local 6
push local 7
push local 2
add
pop local 7
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Graph.getStartingLeftPoint 6
push constant 255
neg
push constant 1
call Fraction.new 2
pop local 2
push local 2
push argument 0
call Fraction.dividedBy 2
pop local 1
push argument 1
push local 1
call Equation.solveForY 2
pop local 0
push local 1
call Fraction.getNumerator 1
push local 1
call Fraction.getDenominator 1
call Math.divide 2
pop local 3
push local 0
call Fraction.getNumerator 1
push local 0
call Fraction.getDenominator 1
call Math.divide 2
pop local 4
push local 3
push local 4
call Point.new 2
pop local 5
push local 5
return
function Graph.getEndingRightPoint 6
push constant 255
push constant 1
call Fraction.new 2
pop local 2
push local 2
push argument 0
call Fraction.dividedBy 2
pop local 1
push argument 1
push local 1
call Equation.solveForY 2
pop local 0
push local 1
call Fraction.getNumerator 1
push local 1
call Fraction.getDenominator 1
call Math.divide 2
pop local 3
push local 0
call Fraction.getNumerator 1
push local 0
call Fraction.getDenominator 1
call Math.divide 2
pop local 4
push local 3
push local 4
call Point.new 2
pop local 5
push local 5
return
function Graph.getStartingBottomPoint 6
push constant 127
neg
push constant 1
call Fraction.new 2
pop local 2
push local 2
push argument 0
call Fraction.dividedBy 2
pop local 0
push argument 1
push local 0
call Equation.solveForX 2
pop local 1
push local 1
call Fraction.getNumerator 1
push local 1
call Fraction.getDenominator 1
call Math.divide 2
pop local 3
push local 0
call Fraction.getNumerator 1
push local 0
call Fraction.getDenominator 1
call Math.divide 2
pop local 4
push local 3
push local 4
call Point.new 2
pop local 5
push local 5
return
function Graph.getEndingTopPoint 6
push constant 127
push constant 1
call Fraction.new 2
pop local 2
push local 2
push argument 0
call Fraction.dividedBy 2
pop local 0
push argument 1
push local 0
call Equation.solveForX 2
pop local 1
push local 1
call Fraction.getNumerator 1
push local 1
call Fraction.getDenominator 1
call Math.divide 2
pop local 3
push local 0
call Fraction.getNumerator 1
push local 0
call Fraction.getDenominator 1
call Math.divide 2
pop local 4
push local 3
push local 4
call Point.new 2
pop local 5
push local 5
return
function Graph.getScaledLine 11
push argument 0
call Equation.getYIntercept 1
pop local 0
push argument 0
call Equation.getXIntercept 1
pop local 1
push local 0
call Fraction.checkValid 1
pop temp 0
push local 1
call Fraction.checkValid 1
pop temp 0
push constant 3
push constant 2
call Fraction.new 2
pop local 8
push constant 2
push constant 1
call Fraction.new 2
pop local 9
push constant 256
push constant 1
call Fraction.new 2
pop local 7
push constant 128
push constant 1
call Fraction.new 2
pop local 10
push local 1
push local 9
call Fraction.times 2
pop local 2
push local 2
push local 0
call Fraction.isGreaterThan 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 8
push local 1
call Fraction.times 2
pop local 3
push local 8
push local 1
push local 9
call Fraction.dividedBy 2
call Fraction.times 2
pop local 4
push local 7
push local 3
call Fraction.dividedBy 2
pop local 5
push local 3
pop local 6
goto IF_END0
label IF_FALSE0
push local 8
push local 0
call Fraction.times 2
pop local 4
push local 8
push local 0
push local 9
call Fraction.times 2
call Fraction.times 2
pop local 3
push local 10
push local 4
call Fraction.dividedBy 2
pop local 5
push local 4
pop local 6
label IF_END0
push local 4
call Fraction.toString 1
call Out.ln 1
pop temp 0
push local 3
call Fraction.toString 1
call Out.ln 1
pop temp 0
push local 5
call Fraction.toString 1
call Out.ln 1
pop temp 0
push local 6
call Fraction.toString 1
call Out.ln 1
pop temp 0
push constant 0
return
