function Out.s 0
push argument 0
call Output.printString 1
pop temp 0
push constant 0
return
function Out.i 0
push argument 0
call Output.printInt 1
pop temp 0
push constant 0
return
function Out.c 0
push argument 0
call Output.printChar 1
pop temp 0
push constant 0
return
function Out.b 0
push argument 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 4
call String.new 1
push constant 116
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
call Out.s 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 5
call String.new 1
push constant 102
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
call Out.s 1
pop temp 0
label IF_END0
push constant 0
return
function Out.ln 0
push argument 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
function Out.lnI 0
push argument 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
function Out.lnC 0
push argument 0
call Output.printChar 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
function Out.lnB 0
push argument 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 4
call String.new 1
push constant 116
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
call Out.s 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 5
call String.new 1
push constant 102
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
call Out.s 1
pop temp 0
label IF_END0
call Output.println 0
pop temp 0
push constant 0
return
function Out.log 0
push argument 0
call Out.s 1
pop temp 0
push argument 1
call Out.ln 1
pop temp 0
push constant 0
return
